<h3 class=title>directives</h3>
<div *ngIf="books; then BookAvailable else noBookAvailable">
    books variable exists!
</div>
<ng-template #BookAvailable>
    <div *ngFor="let obj of books; index as i; even as e; odd as o; first as f; last as l;">
        <div [ngSwitch]="obj.bookstatus">
            <!-- swithcase with ngstyle           
                <div *ngSwitchCase="'Available'" [ngStyle]="{'color':'green'}">
                     {{i}}.{{obj.bookname}}
                </div>
                <div *ngSwitchCase="'Not Available'" [ngStyle]="{'text-decoration':'line-through','color':'green'}">
                    {{i}}.{{obj.bookname}}
                </div>
                <div *ngSwitchDefault>
                    Default-  {{obj.bookname}}
                </div>
            -->
            <div [ngClass]="{'navlstyle':obj.bookstatus=='Not Available','avlstyle':obj.bookstatus=='Available','dvlstyle':obj.bookstatus=='Not Printing'}">
               {{i}} {{obj.author}}
            </div>
        </div>
    </div>

</ng-template>
<ng-template #noBookAvailable>
    <div *ngFor="let obj of books">
        {{obj.category}}
    </div>
</ng-template>
