/* You can add global styles to this file, and also import other style files */
h3{
    color:white;
    font-weight: bold;
}
.title{
    text-align: center;
    vertical-align: bottom;
    background-color: lightblue;
    height: 40px;
    padding-top:5px;
}
.columnPan{
    height: 80vh;
    border-color: lightslategray;
    border-style: solid;
}
.navlstyle{
    text-decoration: line-through;
    color: red;
}
.avlstyle{
    text-decoration: line-none;
    color: blue;
}
.dvlstyle{
    text-decoration: line-through;
    color: rgb(96, 3, 139))28, 9, 0)28, 9, 0);
}